.header{
    display: flex;
    border: 2px solid red;
    justify-content: space-around;
    align-items: center;
}


.links{
    display: flex;
    width: 300px;
    justify-content: space-around;
    
}

.container{
    border: 2px solid red;   
}


.box-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 100px;

  
}

.box-11{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;

}

.box-2{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 2px solid red;
  
}

.box-21{
    text-align: center;
}

.box-22{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    width: 200px;
    
}

.icon{
    width: 100px;
    border-radius: 10px;
    border: 1px solid #bfbffc;
}

.box-3{
    display: flex;
    margin: 100px;
    flex-direction: column;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
}

.box-31{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.box-311{
    border: 2px solid red;
    font-size: 24px;
}

.box-312{
    display: flex;
    border: 2px solid red;
    align-self: flex-end;
    margin-right: 20px;
}

.box-4{
    border: 2px solid red;
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: center;
    padding: 100px;

    
}

.box-41{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

button{
    line-height: 0.1;
    
   
}

.b1{
    padding: 10px 20px;
}

.b2{
   padding: 10px 20px; 
}



img{
    width: 200px;
}
    




.footer{
    align-self:flex-end;
}

ul{
    list-style-type: none;
    border: 2px solid red;
}
